.footer-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    color: $color-primary;
    // justify-items: center;
    // text-align: center;

    @include respond(tab-land) {
        column-gap: 2rem;
    }

    @include respond(eightHandred) {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 6rem;
    }

    // @include respond(phone) {
    //     grid-template-columns: 1fr 1fr 1fr;
    //     row-gap: 3rem;
    // }


}

.footer {
    background-color: rgba($color-secondary, 1);
    padding: 12rem;

    @include respond(tab-land) {
        padding: 7rem 2rem;
    }

    @include respond(small-phone) {
        padding: 7rem 0;
    }

    .nav-col {
        @include respond(eightHandred) {
            grid-row: 1;
            grid-column: span 2;
         }
    }

  
    &__logo-col {
        @include respond(tab-land) {
           margin-right: 1rem;
        }
        @include respond(eightHandred) {
          grid-column: span 3;
          justify-self: center;
        }
    }

    &__address {
        @include respond(eightHandred) {
            grid-column: span 3;
         }
    }

    // &__account {
    //     @include respond(eightHandred) {
    //         grid-column: 1 / 2;
    //      }
    // }

    // &__company {
    //     @include respond(eightHandred) {
    //         grid-row: 4 / 5;
    //         grid-column: 4 / 5;
    //      }

    // }

    &__resources {
        @include respond(eightHandred) {
            grid-column: 7 / 8;
         }

    }

    

    &__logo {
        margin-bottom: 3rem;
        display: block;
    }

    &__social-links {
        list-style: none;
        display: flex;
        justify-content: start;
        gap: 3.2rem;
        margin-bottom: 2rem;
    }

    &__social-link {
        color: $color-primary;
        display: inline-block;
    }

    &__link {
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        font-weight: 100;
    }

    &__copyright {
        line-height: 1.5;
        font-size: 1.2rem;
    }

    &__heading {
        margin-bottom: 1.5rem;
        text-transform: uppercase;
        font-weight: 700;
    }

    &__nav {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

    }
}