.testimonials {
            
    &__heading {
        font-size: 2.6rem;
        font-weight: 400;
    }

    &__reviews {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 4rem;
        row-gap: 2rem;

        @include respond(tab-port) {
            
        }

        & > figure {
            padding: 1rem;

            img {
                border-radius: 50%;
                width: 8rem;
                margin-bottom: 1rem;
            }

            blockquote {
                font-style: italic;
                margin-bottom: 1rem;
            }

            p {
               font-weight: 600;
            }
        }
    }

    &__likes {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 14rem;

        @include respond(thousand) {
           gap: 20rem;
        }

        @include respond(tab-port) {
          justify-content: center;  
          gap: 25rem;  
        }

        div {
            display: flex;
            width: 4rem;
            height: 5rem;

            img {
                margin-right: -10px;
                border-left: 1px solid #fff;
                border-radius: 50%;
            }
        }

        span {
            color: $color-primary-dark;

        }

    }
}

