.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem; 
}

.section-hero {
    height: 92vh;
    padding: 6rem 7.6rem;
    background-image: linear-gradient(to right, rgba($color-secondary-light, .53), rgba($color-secondary-dark, .53)), url(../img/hero-image.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.section-featured {
    padding: 2rem;
    background-color: $color-stone;
}

.section-about {
    background-color: rgba($color-primary, 0.01);
    padding: 6rem 12rem;
    padding-top: 8rem;

    @include respond(small-laptop) {
        padding: 5rem 3rem;
     }
}

.section-price {
    background-color: rgba($color-primary, 0.03);
    padding: 6rem 12rem;
    padding-top: 8rem;

    @include respond(small-laptop) {
        padding: 5rem 3rem;
    }
}

.section-testimonials {
    display: grid;
    grid-template-columns: 55fr 45fr;
    gap: 6rem;
    align-items: center;
    background-color: rgba($color-primary, 0.01);
    max-width: 120rem;
    margin: 0 auto;
    padding-top: 3rem;

    @include respond(small-laptop) {
        padding: 5rem 5.2rem;
        gap: 3rem;
    }

    @include respond(tab-port) {
        grid-template-columns: 1fr;
        row-gap: 10rem;
        align-items: start;
    }
}

.section-cta {
    padding: 12rem;
    background-color: rgba($color-primary, 0.03);

    @include respond(tab-land) {
        padding: 5rem 3rem;
    }
    
}
